.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
static/icons
static/postIcon
static/blog
static/google80262eb641e08c30.html
static/naver08b3392097d5ae8a6bd0c452f59c4d33.html
